:root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    --main-background-color: grey;
    --main-text-color: black;
    --second-background-color: black;
    --second-text-color: white;

    --main-shade-color: #00C3C3;
    --main-highlight-color: aqua;
}


html {
    background-color: var(--main-background-color);
}

nav {
    font-size: 22px;
    background-color: ;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    margin: auto;
    padding-left: 1rem;
}

nav ul div {
    border-radius: 0.33rem;
    border: 0.1rem solid var(--main-shade-color);
    text-align: center;
}

nav ul li a {
    text-decoration: none;
}
main {
    width: 90%;
    margin: auto;
}

.nav_link {
    font-weight: bold;
    text-decoration: none;
}

/* SIDEBAR */
.sidebar_link {
    background-color: var(--second-background-color);
    color: var(--second-text-color);
    
    border: 0.33rem solid var(--main-highlight-color);
    border-radius: 0.25rem;
    
    padding: 0.66rem;
    margin-bottom: 2rem; 

}

.sidebar_link a {
    margin-left: 1rem;
    
}



}

